<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Memberikan Pelayanan Maksimal dengan Kualitas Produk yang Terbaik</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/logos/icon-01.png" alt="Quality Icon" class="service-icon">
                    </span>
                    <h4 class="service-heading" style="color: rgba(0, 38, 255, 0.8);">Berkomitmen pada Kualitas</h4>
                    <p class="text-muted">Menjual Produk Baru dan Second Yang tentunya Bergaransi RESMI</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/logos/icon-02.png" alt="Professional Icon">
                    </span>
                    <h4 class="service-heading" style="color: rgba(0, 38, 255, 0.8);">Profesionalisme dalam Pelayanan</h4>
                    <p class="text-muted">Bekerja dengan keahlian, ketulusan, dan tanggung jawab penuh untuk menciptakan pengalaman yang tak terlupakan bagi pelanggan.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="{{ site.baseurl }}/img/logos/icon-03.png" alt="Integrity Icon">
                    </span>
                    <h4 class="service-heading" style="color: rgba(0, 38, 255, 0.8);">Integritas dalam Bisnis</h4>
                    <p class="text-muted">Pelayanan yang terbaik dengan hati yang tulus karena kepercayaan Anda adalah nilai utama kami.</p>
                </div>
            </div>
        </div>
    </section>